# # Python virtual environment
# *.venv
# *.env

# # Python bytecode and cache
# __pycache__/
# *.pyc
# *.pyo
# *.pyd
# *.pyw
# *.pyz
# __pycache__/

# # Database files
# *.db
# *.sqlite3
# *.sqlite
# *.db3
